
*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
  }
  .main{
    background-color: #212121;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container{
    background-color: rgb(4, 160, 53);
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 45px;
  }
  
  input{
    margin-block: 10px;
    padding-block: 12px;
    width: 300px;
    border: none;
    border-radius: 5px;
  }
  
  #btn{
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 10px;
  }
  p{
    text-align: left;
    color: rgb(246, 2, 2);
  }